[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Derek \"8-Bit\" Nellis
	email = dnellis3456@gmail.com
[core]
	longpaths = true
	autocrlf = false
[alias]
  ec = config --global -e
	hist = log --oneline --all --graph --decorate
  sethead = remote set-head origin
  # current branch
  cb = rev-parse --abbrev-ref HEAD
  bm = branch -m
  ao = remote add origin
  so = remote set-url origin
  pu = push -u origin
  rv = remote --v
  co = checkout
  cob = checkout -b
  cm = !git add -A && git commit -m
  save = !git add -A && git commit -m "SAVEPOINT"
  wip = commit -am "WIP"
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  # reset, but makes it possible to grab from if needed
  wipe = !git add -A && git commit -qm "WIPE SAVEPOINT" && git reset HEAD~1 --hard
  # ---- Once branch is pulled/deleted from web, "git bdone" to clean local files ----
  # updates working directory
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  # grab current default branch
  default = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  # run in default branch! ==> cleans merged branches
  bclean = "!f() { DEFAULT=$(git default); git branch --merged ${1-$DEFAULT} | grep -v " ${1-$DEFAULT}$" | xargs git branch -d; }; f"
  # combines aliases to cull dead branches
  bdone = "!f() { DEFAULT=$(git default); git checkout ${1-$DEFAULT} && git up && git bclean ${1-$DEFAULT}; }; f"
  # ----------------------------------------------------------------------------------